<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ApiTestSuite">
    <test name="API Tests">
        <classes>
            <!-- <class name="com.sdet.api.GetUserTest"/>
            <class name="com.sdet.api.CreateUserTest"/>
            <class name="com.sdet.api.UpdateUserTest"/>
            <class name="com.sdet.api.DeleteUserTest"/> -->
            <class name="com.sdet.api.AuthTest"/>
        </classes>
    </test>
</suite>
